# 판다스 자료구조

시리즈-1차원 배열

데이터프레임-2차원 배열

In [1]:
# pandas 불러오기 
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c': 3}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [ ]:
# 인덱스 배열: Serise객체.index
# 데이터 배열: Serise객체.values

In [ ]:
exam_data = {'수학': [90, 80,70], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n') # 엔터의 효과다

df2 = df[:]
df2.drop('우현', inplace=True)  # inplace = False 로 하면 행삭제가 적용이 되지 않는다. 
print(df2)
print('\n')

df3 = df[:] # 여기 슬라이싱은 전부선택이다. 
df3.drop(['우현', '인아'], inplace=True)  # df3 = df3.drop(['우현', '인아']) 이렇게 입력해도 같다.  다만 앞에 df3 변수를 또 정의을 해주어야 작동이 된다. 
print(df3)
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
exam_data = {'수학': [90, 80,70], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n') # 엔터의 효과다

df4 = df.copy()  # 복사를 하는 이유는 원본이 변경되기 때문에 원본과 비교 분석하기 위해 쓴다.
df4.drop('수학',axis=1, inplace=True)  # inplace = False 로 하면 열삭제가 적용이 되지 않는다. 
print(df4)
print('\n')

df5 = df.copy() # 복사를 하는 이유는 원본이 변경되기 때문에 원본과 비교 분석하기 위해 쓴다.  
df5.drop(['영어', '수학'],axis=1, inplace=True)  # df5 = df5.drop(['영어', '수학']) 이렇게 입력하면 열삭제가 작동이 안되. None이 나옴. 그러므로 열삭제에서는 적용이 안되네.
print(df5)
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


     음악   체육
서준   85  100
우현   95   90
인아  100   90